@use "../abstracts/" as *;
.container-comment{
    padding: 5% 10%;
    background: rgba(242, 242, 242, 0.50);
    .label{
        font-size: 16px;
        color: $text-color-label;
        font-family: $second-font;
    }
    .text{
        color: $text-color;
        font-size: 32px;
        font-family: $second-font;
        font-weight: 700;
        padding: 2% 0%;
        @include mobile {
            font-size: 24px;
        }
    }
}
.cards-comment{
    display: flex;
    gap: 48px;
    margin: 6% 0%;
}
.card{
    position: relative;
    background-color: $background-color;
    border-radius: 24px; 
    box-shadow: 0px 20px 48px 0px rgba(0, 0, 0, 0.06);
    @include mobile {
        text-align: center;
    }
}
.two{
    @include mobile {
        display: none;
    }
}
.card-comment{
    display: flex;
    width: 80%;
    @include mobile {
        width: 100%;
    }   
}
.text-comment{
    padding: 6%;
    @include mobile {
        padding-top: 20%;
    }
}
.comment{
    font-size: 16px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10%;
}
.name-user{
    font-size: 18px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 2%;
}
.job-user{
    font-size: 14px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
}
.image-user{
    position: absolute;
    left: 90%;
    top: -8%;
    @include mobile {
        left: 40%;
    }
}
.icon{
    text-align: center;
}
