<div class="container-feature">
    <p class="label">Features</p>
    <p class="text">We Provide the Best Property for you</p>
    <div class="frame-images">
        <div class="column-1">
            <div class="rectangle-1">
                <img src="../assets/images/Rectangle 11.png" alt="">
            </div>
            <div class="rectangle-2">
                <div class="photo">
                    <img src="../assets/images/Rectangle 9.png" alt="">
                </div>
                <div class="photo">
                    <img src="../assets/images/Rectangle 6.png" alt="">
                </div>
            </div>
        </div>
        <div class="column-2">
            <img src="../assets/images/Rectangle 7.png" alt="">
        </div>
        <div class="column-3">
            <div class="rectangle-photo">
                <img src="../assets/images/Rectangle 8.png" alt="">
            </div>
            <div class="rectangle-photo">
                <img src="../assets/images/Rectangle 10.png" alt="">
            </div>
        </div>
    </div>
</div>
