<div class="container-introduce">
    <div class="introduce-text">
         <p class="title">Join Our Team</p>
         <p class="text">To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy.</p>
         <div class="outline">
            <div class="icon">
                <img src="../assets/icons/icon1.png" alt="">
            </div>
            <div class="paragraph">
                <p class="title">Unlimited Access to Resources</p>
                <p class="text">Siphome reacts the moment your equipment fails, alerting you to the problem.</p>
            </div>
         </div>
         <div class="outline">
            <div class="icon">
                <img src="../assets/icons/icon2.png" alt="">
            </div>
            <div class="paragraph">
                <p class="title">Real Estate Certifications</p>
                <p class="text">Siphome reacts the moment your equipment fails, alerting you to the problem.</p>
            </div>
         </div>
         <div class="outline">
            <div class="icon">
                <img src="../assets/icons/icon3.png" alt="">
            </div>
            <div class="paragraph">
                <p class="title">Get Incentives and Earn High Income from Sales</p>
                <p class="text">Siphome reacts the moment your equipment fails, alerting you to the problem.</p>
            </div>
         </div>
         <div class="button-introduce">
            <button>Learn more</button>
         </div>
    </div>
    <div class="introduce-img">
        <img class="top-image" src="../assets/images/Rectangle 13.png" alt="">
        <img class="bottom-image" src="../assets/images/Rectangle 14.png" alt="">
    </div>
</div>
