<nav>
    <div class="container-nav">
      <div class="navbar-logo">
          <img src="../assets/images/logo.jpg" alt="logo" />
      </div>
      <div class="nav-list">
        <ul>
          <include
            src="./components/nav-list.html"
            locals='{
            "classList": "nav-list-item list-item ",
            "classLink": "nav-link",
            "list": "[`Home`, `About Us`, `Ours Courses`, `Blog`, `Contact Us`]"}'>
          </include>
        </ul>
      </div>
    </div>
</nav>
