<div class="container-slide">
    <div class="background">
        <h1>{{text}}</h1>
        <div class="button">
            <button class="button-left">{{buttonLeft}}</button>
            <button class="button-right">{{buttonRight}}</button>
        </div>
        <div class="ellipses">
            <div class="ellipse1"></div>
            <div class="ellipse2"></div>
            <div class="ellipse3"></div>
        </div>
    </div>
    <div class="slide-images">
        <img src="{{img}}" alt="container-slide img">
    </div>
</div>
