@use "functions" as *;
//fonts
$first-font: Inter;
$second-font: Quicksand;
//colors
$text-color-header-footer: #F6F6F6;
$text-color-register: #F58634;
//backgrounds
$background-color: #FFF;
$background-nav-header: #1E3446;
