@use "../abstracts/" as *;
footer{
    background-color: $background-nav-header;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    padding: 5% 15% 0% 15%;
    margin-top: 10%;
    @include mobile {
        flex-direction: column;
        text-align: center;
    }
}
.title{
    font-size: 20px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    color: $text-color-header-footer;
}
.content{
    display: flex;
    img{
        width: 14px;
        height: 14px;
        padding-top: 24px;
        padding-right: 5px;
    }
    .list{
        color: $text-color-footer;
        font-size: 14px;
        font-family: $second-font;
        font-style: normal;
        font-weight: 400;
        padding-top: 24px;
        width: 150px;
    }
    @include mobile {
        justify-content: center;
    }
}
.copyright{
    color: $text-color-footer;
    font-size: 14px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 400;
    padding: 3% 15%;
    @include mobile {
        text-align: center;
        padding-top: 36px;
    }
}
.list-footer{
    a{
        text-decoration: none;
        display: block;
        font-size: 14px;
        font-family: $second-font;
        font-style: normal;
        font-weight: 400;
        color: $text-color-footer;
        padding-top: 24px;
    }
    @include mobile {
        padding-top: 36px;
    }
}
