<header>
    <include src="./components/nav.html"></include>
    <div class="container-slide">
        <div class="background">
            <h1>Rule the world as a Professional Real Estate Consultant</h1>
            <div class="button">
                <button class="button-left">Get Started</button>
                <button class="button-right">Learn more</button>
            </div>
            <div class="ellipses">
                <div class="ellipse1"></div>
                <div class="ellipse2"></div>
                <div class="ellipse3"></div>
            </div>
        </div>
        <div class="slide-images">
            <img src="../assets/images/slide.png" alt="container-slide img">
        </div>
    </div>
    
</header>
